<script lang="ts">
  import { Bar, mixins } from 'vue-chartjs';
  import Vue from 'vue';
  import { Component, Prop } from 'vue-property-decorator';
  import numberFormatter from '@/util/number-formatter';

  const { reactiveProp } = mixins

  @Component({
    extends: Bar,
    mixins: [reactiveProp],
  })
  export default class ClaimsPaymentChart extends Vue {

    @Prop({default: {}}) chartData!: any ;
    renderChart: any;

    private barChartLabels: Array<string> = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
    ];
    public claimsPaymentsData: object = {
        labels: this.barChartLabels,
        datasets: [
        {
            label: "On Time Claims Payment",
            backgroundColor: "#b4c7f0",
            data: this.chartData.onTimePayment
        },
        {
            label: "Overdue Claims Payment",
            backgroundColor: "#55feea",
            data: this.chartData.pastDuePayment
        },
        {
            label: "Total Payments",
            backgroundColor: "#527fff",
            data: this.chartData.totalPayment
        },
        {
            label: "Cummulative Payments To Date",
            backgroundColor: "#0a2860",
            data: this.chartData.cummulativePayment
        }
        ]
    }
    public barChartOptions: object = { 
        responsive: true, 
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        userCallback: function(label: number) {
                            return numberFormatter.formatToCurrency(Math.floor(label), false)
                        },
                    }
                }]
        },
        tooltips: {
            callbacks: {
                label: function(tooltipItem: { yLabel: number; }) {
                    return numberFormatter.formatToCurrency(+(tooltipItem.yLabel.toFixed(2)), false)
                }
            }
        } 
     }

    mounted() {
      this.renderChart(this.claimsPaymentsData, this.barChartOptions)
    }
  }
</script>