<template>
  <div>
      <el-card v-loading="loading">
        <div slot="header" class="clearfix accounts-list-header">
            <el-input
              placeholder="Search account by name, email or phone number"
              v-model="search"
              clearable>
            </el-input>
        </div>
        <el-table
          :data="accounts.data"
          style="width: 100%"
          height="700"
          class="accounts-list-table"
          highlight-current-row
          @current-change="fetchAccount">
          <el-table-column
            label="User"
            width="250"
            fixed>
            <el-row slot-scope="scope">
              <div>
                <el-avatar> {{scope.row.debtor.firstName.charAt(0)}}{{scope.row.debtor.lastName.charAt(0)}} </el-avatar>
              </div>
              <div class="account-details">
                <span>{{scope.row.debtor.title}} {{scope.row.debtor.firstName}} {{scope.row.debtor.lastName}}</span>
                <p>{{scope.row.debtor.email}}</p>
              </div>
            </el-row>
          </el-table-column>
          <el-table-column
            prop="debtor.mobilePhone"
            label="Mobile Phone"
            width="200">
          </el-table-column>
          <el-table-column
            prop="debtor.address.country"
            label="Country">
          </el-table-column>
          <el-table-column
            prop="debtor.address.state"
            label="State">
          </el-table-column>
          <el-table-column
            prop="debtor.address.city"
            label="City">
          </el-table-column>
          <el-table-column
            prop="debtor.address.address"
            label="Address"
            width="350">
          </el-table-column>
          <el-table-column
            prop="debtor.address.zip"
            label="Zip">
          </el-table-column>
        </el-table>
      </el-card>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import AccountsDataService from "@/services/accounts-data-service";
import Accounts from "@/types/Accounts";

@Component
export default class AccountList extends Vue {
  private accounts = {} as Accounts;
  private search: string = "";
  private loading: boolean = false;

  @Watch('search')
  nameChanged(newVal: string) {
    if (!this.loading) {
      setTimeout(() => {
        this.searchAccounts();
        this.loading = false;
      }, 1000);
    }
    this.loading = true;
    this.search = newVal
  }

  fetchAccounts() {
    this.loading = true;
    AccountsDataService.getAllAccounts()
    .then((response) => {
        const accountsList = {data: response.data};
        const total = {total: parseInt(response.headers['x-total-count'])}
        const new_accounts = {
          ...accountsList,
          ...total
        }
        this.accounts = new_accounts;
        this.loading = false;
      })
      .catch((e) => {
        console.log(e);
        this.loading = false;
      });
  }

  searchAccounts() {
    AccountsDataService.searchBy({query: this.search})
      .then((response) => {
        const accountsList = {data: response.data};
        const total = {total: parseInt(response.headers['x-total-count'])}
        const new_accounts = {
          ...accountsList,
          ...total
        }
        this.accounts = new_accounts;
      })
      .catch((e) => {
        console.log(e);
      });
  }
  fetchAccount(val: { id: string; }) {
    this.$router.push(`accounts/${val.id}`)
  }
  mounted() {
    this.fetchAccounts()
  }
}
</script>

<style>
h1 {
  margin: 40px 0 0;
}
.accounts-list-header {
  max-width: 360px;
}
.accounts-list-table th>.cell {
  font-size: 14px;
}
.accounts-list-table .cell{
  font-size: 13px;
}
.accounts-list-table tr{ 
  cursor: pointer;
}
.account-details span {
  font-weight: 700;
  font-size: 13px;
}
.account-details p {
  font-size: 12px;
  margin: 0;
}
</style>
