<template>
  <div>
      <el-card
        v-loading="loading_account">
        <el-row
          v-if="account.debtor">
          <el-col class="user-details" :span="8">
            <p>
              {{account.debtor.title}} 
              {{account.debtor.firstName}} 
              {{account.debtor.lastName}}
            </p>
            <span>{{account.debtor.email}}</span>
            <span>{{account.debtor.mobilePhone}}</span>
          </el-col>
          <el-col class="address-details" :span="12">
            <p>
              {{account.debtor.address.address}} 
            </p>
            <span>
              {{account.debtor.address.city}}, 
              {{account.debtor.address.state}} 
              ({{account.debtor.address.zip}})
            </span>
            <span>{{account.debtor.address.country}}</span>
          </el-col>
        </el-row>
      </el-card>
      <el-card>
        <el-select
          v-model="status" 
          clearable 
          placeholder="Status">
          <el-option
            v-for="status in status_options"
            :key="status.value"
            :label="status.label"
            :value="status.value">
          </el-option>
        </el-select>
        <el-table
          class="account-claims-table"
          v-if="account_claims.data"
          v-loading="loading"
          :data="account_claims.data"
          :summary-method="getSummaries"
          show-summary
          style="width: 100%">
          <el-table-column
            prop="dueDate"
            label="Due Date">
          </el-table-column>
          <el-table-column
            prop="baseAmount"
            label="Base Amount">
            <template slot-scope="scope">
              <span>{{formatNumberToAmount(scope.row.baseAmount)}}</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="fees"
            label="Fees">
            <template slot-scope="scope">
              <span>{{formatNumberToAmount(scope.row.fees)}}</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="status"
            label="Status">
            <template slot-scope="scope">
              <el-tag
                :type="scope.row.status === 'OPEN' ? 'primary' : 'success'">
                {{scope.row.status}}
              </el-tag>
            </template>
          </el-table-column>
          <el-table-column
            prop="paidAt"
            label="Paid At">
          </el-table-column>
        </el-table>
      </el-card>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import AccountsDataService from "@/services/accounts-data-service";
import AccountClaims from "@/types/AccountClaims";
import Account from "@/types/Account";
import NumberFormatter from '@/util/number-formatter';

@Component
export default class AccountClaimsList extends Vue {
  @Prop({ type: String })
  id!: string;
  private account_claims = {} as AccountClaims;
  private account = {} as Account;
  private status: string = '';
  private loading: boolean = false;
  private loading_account: boolean = false;
  private status_options: Array<Object> = [
    {
      value: 'OPEN',
      label: 'Open'
    },
    {
      value: 'PAID',
      label: 'Paid'
    }
  ]

  @Watch('status')
  statusChanged(newVal: string) {
    if (!this.loading) {
      setTimeout(() => {
        this.fetchAccountClaims();
        this.loading = false;
      }, 1000);
    }
    this.loading = true;
    this.status = newVal
  }
  fetchAccount() {
    this.loading_account = true;
    AccountsDataService.getAccount(this.id)
    .then((response) => {
        this.account = response.data;
        this.loading_account = false;
      })
      .catch((e) => {
        console.log(e);
        this.loading_account = false;
      });
  }
  fetchAccountClaims() {
    this.loading = true;
    AccountsDataService.getAccountClaims({id:this.id, status:this.status})
    .then((response) => {
        const claims_list = {data: response.data};
        const total = {total: parseInt(response.headers['x-total-count'])}
        const new_claims = {
          ...claims_list,
          ...total
        }
        this.account_claims = new_claims;
        this.loading = false;
      })
      .catch((e) => {
        console.log(e);
        this.loading = false;
      });
  }
  getSummaries(param: { columns: Array<object>; data: Array<any>; }) {
    const { columns, data } = param;
    const sums: string[] = [];
    columns.forEach((column: any, index): void => {
      if (index === 0) {
        sums[index] = 'Total';
        return
      }
      if(index > 2){return}
      let total = 0
      const values = data.map(item => {
        return Number(item[column.property]);
      });
      total = values.reduce((a:any, b:any)=>a+b) 
      sums[index] = NumberFormatter.formatToCurrency(total);
    });

    return sums;
  }
  formatNumberToAmount(number: number) {
    return NumberFormatter.formatToCurrency(number)
  }
  mounted() {
    this.fetchAccount()
    this.fetchAccountClaims()
  }
}
</script>

<style >
  .account-claims-table .cell,.account-claims-table .cell span {
    font-size: 13px;
  }
  .user-details span {
    width: 100%;
    font-size: 13px;
    display: block;
    margin-bottom: 10px;
  }
  .address-details p {
    font-size: 14px;
  }
  .address-details span {
    display: block;
    width: 100%;
    font-size: 13px;
  }
</style>

function item(item: any, arg1: (number: any) => number) {
  throw new Error("Function not implemented.");
}

function item(item: any, arg1: (number: any) => number) {
  throw new Error("Function not implemented.");
}
