<template>
  <el-row v-loading="loading" :gutter="20">
    <el-col :span="16">
      <el-card>
        <div slot="header" class="clearfix">
            <span style="font-weight:300">Claims Summary</span>
        </div>
        <due-claims-chart v-if="duePaymentChartData.due && duePaymentChartData.due.length" :chartData="duePaymentChartData"/>
      </el-card>
      <el-card style="margin-top:20px">
        <div slot="header" class="clearfix">
            <span style="font-weight:300">Payments Summary</span>
        </div>
        <claims-payment-chart v-if="claimPaymentsChartData.totalPayment && claimPaymentsChartData.totalPayment.length" :chartData="claimPaymentsChartData"/>
      </el-card>
    </el-col>
    <el-col :span="8">
      <el-card>
        <div slot="header" class="clearfix">
            <span style="font-weight:300">Period Summary</span>
        </div>
        <summary-chart v-if="summary.length" :chartData="summary"/>
      </el-card>
    </el-col>
  </el-row>
</template>

<script lang="ts">


import { Component, Vue, Watch } from "vue-property-decorator";
import ClaimsDataService from "@/services/claims-data-service";
import Claims from "@/types/Claims";
import DueClaimsChart from '@/components/charts/DueClaimsChart.vue';
import ClaimsPaymentChart from '@/components/charts/ClaimsPaymentChart.vue';
import SummaryChart from '@/components/charts/SummaryChart.vue';
import GroupChartData from '@/util/group-chart-data';

@Component({
  components: {
    DueClaimsChart,
    ClaimsPaymentChart,
    SummaryChart
  }
})
export default class Dashboard extends Vue {
  private claims = {} as Claims;
  private loading: boolean = false;
  private year: string = '2020';
  private dueClaims: object = {}
  private claimPayments: object = {}
  private summary: object = {}

  mounted() {
    this.fetchClaims()
  }
  get duePaymentChartData() {
    return this.dueClaims
  }
  get claimPaymentsChartData() {
    return this.claimPayments
  }
  get summaryChartData() {
    return this.summary
  }

  @Watch('claims')
  @Watch('year')
  claimsUpdated() {
    if (!this.loading) {
      setTimeout(() => {
        this.drawMonthOnMonthChart();
        this.loading = false;
      }, 1000);
    }
    this.loading = true;
  }

  fetchClaims(){
    ClaimsDataService.fetchClaims()
    .then((response) => {
        this.claims = {data: response.data};
        this.loading = false;
      })
      .catch((e) => {
        console.log(e);
        this.loading = false;
      });
  }
  drawMonthOnMonthChart() {
    const groupedData = GroupChartData.groupByMonthYear(this.claims.data, this.year);

    //TODO: find a more elegant approach that's marginally faster as compared to reduce.
    const dueClaimsData: any = {due:[],pastDue:[],cummulativePastDue:[]}
    const claimsPaymentData: any = {onTimePayment:[], totalPayment:[],pastDuePayment:[],cummulativePayment:[]}
    const summary: Array<number> = [];

    summary.push(groupedData.cummulativePastDue.reduce((a, b)=>a+b));
    summary.push(groupedData.cummulativePayment.reduce((a, b)=>a+b));
    summary.push(groupedData.totalClaims);

    groupedData.groupedDueData.forEach((item)=> {
      dueClaimsData.due.push(item.due)
      dueClaimsData.pastDue.push(item.pastDue)
      dueClaimsData.cummulativePastDue.push(item.cummulativePastDue)
      
      claimsPaymentData.onTimePayment.push(item.onTimePayment)
      claimsPaymentData.pastDuePayment.push(item.pastDuePayment)
      claimsPaymentData.totalPayment.push(item.totalPayment)
      claimsPaymentData.cummulativePayment.push(item.cummulativePayment)
    });

    this.dueClaims = dueClaimsData;
    this.claimPayments = claimsPaymentData;
    this.summary = summary;
  }
}
</script>

<style scoped>
h1 {
  margin: 40px 0 0;
}
</style>
