<template>
    <el-row :gutter="20">
        <el-col :span="10" :offset="7">
            <el-card>
                <div slot="header" class="clearfix">
                    <h1 style="margin-bottom:10px">Sign Up</h1>
                    <span style="font-weight:300">Please fill in this form to create an account</span>
                </div>
                <el-form v-loading="loading" :model="user" :rules="rules" :ref="formName">
                    <el-form-item prop="email">
                        <el-input v-model="user.email" placeholder="Email"></el-input>
                    </el-form-item>
                    <el-form-item prop="password">
                        <el-input v-model="user.password" placeholder="Password"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('loginForm')">Register</el-button>
                        <router-link to="/login" style="float: right; padding: 3px 0"> Login </router-link>
                    </el-form-item>
                </el-form>
            </el-card>
        </el-col>
    </el-row>
</template>
<script lang="ts">

import { Component, Vue } from "vue-property-decorator";
import User from "@/types/User";
@Component
export default class Register extends Vue {
    private user = {} as User;
    private loading: boolean = false;
    private formName: string = 'registrationForm';

    data() {
        return {
            rules: {
                email: [
                    { type: 'email', required: true, message: 'please input a valid email', trigger: 'change' }
                ],
                password: [
                    { required: true, message: 'please input your password', trigger: 'change' },
                    { min: 4, message: 'password should be at least 4 characters', trigger: 'change' }
                ]
            }
        };
    }
    created() {
        if (this.$store.state.auth.status.loggedIn) {
            this.$router.push('/');
        }
    }

    submitForm() {
        (this.$refs[this.formName] as any).validate((valid: boolean) => {
          if (valid) {
            this.loading = true;
            this.$store.dispatch('auth/register', this.user).then(
                () => {
                    this.$router.push('/');
                },
                () => {
                    this.loading = false;
                    this.$message.error('Please check your credentials and try again');
                }
            );
          } else {
            this.loading = false;
            return false;
          }
        });
    }

}
</script>