<template>
  <div id="app">
      <el-container>
        <el-aside v-if="this.$store.state.auth.status.loggedIn" width="65px">
          <el-row class="main-logo">
            <img height="55" src="@/assets/logo.png"/>
          </el-row>
          <el-menu :collapse="true" default-active="1">
            <el-menu-item index="1">
              <router-link to="/">
                <i class="el-icon-data-analysis"></i> 
              </router-link>
              <span slot="title">Dashboard</span>
            </el-menu-item>
            <el-menu-item index="2">
              <router-link to="/accounts">
                <i class="el-icon-user"></i>
              </router-link>
              <span slot="title">Accounts</span>
            </el-menu-item>
          </el-menu>
        </el-aside>
        <el-container>
          <el-header class="main-header" v-if="this.$store.state.auth.status.loggedIn">
            <el-dropdown>
              <el-avatar :size="50" src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"/>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item v-on:click.native="logOut">Logout</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </el-header>
          <el-header v-else class="secondary-header">
            <img height="55" src="@/assets/logo.png"/>
          </el-header>
          <el-main>
            <router-view />
          </el-main>
        </el-container>
      </el-container>
  </div>
</template>

<script lang="ts">
  import { Component, Vue } from "vue-property-decorator";

  @Component
  export default class App extends Vue {
    logOut() {
      this.$store.dispatch('auth/logout').then(
          () => {
              this.$router.push('/login');
          }
        );
    }
  }
</script>
<style>
  aside > ul {
    height: 100%;
  }
  a {
    text-decoration: none;
    color: #409EFF;
  }
  .el-header {
    background-color: #0a2860;
  }
  .el-menu {
    padding-top: 30px;
  }
  .el-menu-item a {
    display: block;
    height: 100%;
    width: 100%;
  }
  .el-menu-item a > [class^=el-icon-] {
    font-size: 24px;
  }
  .main-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-header {
    height: 60px;
    width: 100%;
    text-align: right;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .el-menu--collapse>.el-menu-item.is-active i, a {
    color: #0a2860;
  }
  .el-button--primary {
    background-color: #0a2860;
    border-color: #0a2860;
  }
  .el-button--primary:hover {
    background-color: #113273;
    border-color: #113273;
  }
  .el-button {
    min-width: 120px;
  }
</style>